<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('../../modules/head/template.ejs')({htmlWebpackPlugin}) %>
</head>
<body>
<%= require('../../modules/header/template.ejs')({htmlWebpackPlugin}) %>
<%= require('../../modules/banner/template.ejs')() %>

<%= require('../../modules/product-hot/template.ejs')() %>
<%= require('../../modules/product-all/template.ejs')() %>

<%= require('../../modules/advantage/template.ejs')() %>
<%= require('../../modules/news/template.ejs')() %>
<%= require('../../modules/aboutus/template.ejs')() %>
<%= require('../../modules/footer/template.ejs')() %>




</body>
</html>