<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('../common/modules/head.ejs')({htmlWebpackPlugin}) %>
</head>
<body>
<%= require('../common/modules/header.ejs')({htmlWebpackPlugin}) %>
<%= require('../common/modules/banner.ejs')() %>
<%= require('./modules/product.ejs')() %>
<%= require('./modules/news.ejs')() %>

<%= require('../common/modules/footer.ejs')() %>
</body>
</html>