<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('../common/head.ejs')({htmlWebpackPlugin}) %>
</head>
<body>
<%= require('../common/header.ejs')({htmlWebpackPlugin}) %>
<%= require('../common/banner.ejs')() %>
<%= require('./modules/news.ejs')() %>
<%= require('../common/footer.ejs')() %>
</body>
</html>