<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('../common/modules/head.ejs')({htmlWebpackPlugin}) %>
</head>
<body>
<%= require('../common/modules/header.ejs')({htmlWebpackPlugin}) %>
<%= require('../common/modules/banner.ejs')() %>

<%= require('./modules/product-all.ejs')() %>

<%= require('./modules/advantage.ejs')() %>
<%= require('./modules/product-core.ejs')() %>
<%= require('./modules/product-relevat.ejs')() %>
<%= require('./modules/case.ejs')() %>
<%= require('./modules/news.ejs')() %>
<%= require('./modules/aboutus.ejs')() %>
<%= require('./modules/partner.ejs')() %>
<%= require('../common/modules/footer.ejs')() %>




</body>
</html>